<main class="admin-wrap-main">
	<div class="responsive-wrapper">
		<div class="admin-1-header">
			<h1>Settings</h1>
			<div class="adm-search">
				<input type="text" placeholder="Search" />
				<button type="submit">
					<i class="ph-magnifying-glass-bold"></i>
				</button>
			</div>
		</div>
		<div class="horizontal-tabs">
			<a href="#">My details</a>
			<a href="#">Profile</a>
			<a href="#">Password</a>
			<a href="#">Team</a>
			<a href="#">Plan</a>
			<a href="#">Billing</a>
			<a href="#">Email</a>
			<a href="#">Notifications</a>
			<a href="#" class="active-tabs">Integrations</a>
			<a href="#">API</a>
		</div>
		<div class="content-header">
			<div class="content-header-intro">
				<h2>Intergrations and connected apps</h2>
				<p>Supercharge your workflow and connect the tool you use every day.</p>
			</div>
			<div class="content-header-actions">
				<a href="#" class="button-req">
					<i class="ph-faders-bold"></i>
					<span>Filters</span>
				</a>
				<a href="#" class="button-req">
					<i class="ph-plus-bold"></i>
					<span>Request integration</span>
				</a>
			</div>
		</div>
		<div class="cont-panel">
			<div class="content-panel">
				<div class="vertical-tabs">
					<a href="#" class="active-tabs">View all</a>
					<a href="#">Developer tools</a>
					<a href="#">Communication</a>
					<a href="#">Productivity</a>
					<a href="#">Browser tools</a>
					<a href="#">Marketplace</a>
				</div>
			</div>
			<div class="adm-content-main">
				<div class="cards-grid">
					<article class="adm-card">
						<div class="card-header">
							<div>
								<h3>Zeplin</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Collaboration between designers and developers.</p>
						</div>
					</article>
					<article class="adm-card">
						<div class="card-header">
							<div>
								<h3>GitHub</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Link pull requests and automate workflows.</p>
						</div>
					</article>
				
					
				</div>
			</div>
		</div>
	</div>
</main>

