<!-- <div id="allUser"></div> -->
<main class="admin-wrap-main">
    <div class="responsive-wrapper">
        <div>
            <div class="admin-1-header">
                <h1>Reviews Page</h1>
            </div>
            <p class="mb-4">
                이 페이지는 리뷰 관리하는 페이지이므로 부적절한 리뷰 또는 위험적인 리뷰 적발시 삭제
                해주세요.
            </p>
            <div class="horizontal-tabs">
                <a href="/admin-user">User</a>
                <a href="/admin-party">Party</a>
                <a href="/admin-review" class="active-tabs">Review</a>
                <a href="/admin-tag">Tags</a>
            </div>
        </div>
        <div class="card shadow mb-4" style="margin-top: 29px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span id="totalCount"></span>
                </h6>
                <body>
                    <section>
                        <input id="searchInput" type="text" placeholder="리뷰로 검색하세요." />
                        <button id="searchButton" type="button">검색</button>
                    </section>
                </body>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th>Num</th>
                                <th>Name(자세히 보기)</th>
                                <th>Rating</th>
                                <th>Content</th>
                                <th>Party</th>
                                <th>Create</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="reviewTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="pagination" class="pagination-btn-wrap"></div>
</main>
<script>
    const page = new URLSearchParams(location.search).get('page') || 1;
    $.ajax({
        type: 'GET',
        url: `/admin/review?page=${page}`,
        data: {},
        headers: {
            authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
            refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
        },
        success: function (response) {
            const { reviews, totalCount, firstPage, lastPage, totalPage } = response;
            $('#totalCount').text(`총 리뷰: ${totalCount}개`);
            let count = 0;
            for (let i = 0; i < reviews[0].length; i++) {
                const {
                    id: reviewId,
                    userId,
                    partyId,
                    party,
                    user,
                    rating,
                    review,
                    createdAt,
                    updatedAt,
                    deletedAt,
                } = reviews[0][i];
                let name = reviews[0][i].user.name;

                if (deletedAt === null) {
                    const createdate = new Date();
                    const year = createdate.getFullYear();
                    const month = ('0' + (createdate.getMonth() + 1)).slice(-2);
                    const day = ('0' + createdate.getDate()).slice(-2);

                    const update = new Date();
                    const updateYear = update.getFullYear();
                    const updateMonth = ('0' + (update.getMonth() + 1)).slice(-2);
                    const updateDay = ('0' + update.getDate()).slice(-2);

                    const reviewTable = `<tr>
                            <td>${count + 1}</td>
                            <td><a href="/user-detail/${userId}">${name}</a></td>
                            <td>${rating}</td>
                            <td>${review}</td>
                            <td><a href="/party/${partyId}">파티확인하기</a></td>
                            <td>${year}-${month}-${day}</td>
                            <td>${updateYear}-${updateMonth}-${updateDay}</td>
                            <td><button type="button" onclick="deleteReviewByAdmin(${reviewId})" class="btn btn-danger">Delete</button></td>
                        </tr>`;

                    $('#reviewTable').append(reviewTable);
                    count++;
                }
            }
            const pages = [];

            // prev 버튼
            if (page > 1) {
                const prev = `
                    <a href='?page=${Number(page) - 1}'><div class="pagination-btn">이전</div></a>
                        `;
                pages.push(prev);
            }

            // pages 버튼
            for (let i = firstPage; i <= lastPage; i++) {
                const pageList =
                    Number(page) === i
                        ? `<a href='?page=${i}'><div class="pagination-btn active">${i}</div></a>`
                        : `<a href='?page=${i}'><div class="pagination-btn">${i}</div></a>`;

                pages.push(pageList);
            }

            // next 버튼
            if (page < totalPage) {
                const next = `
                    <a href='?page=${Number(page) + 1}'><div class="pagination-btn">다음</div>
                        `;
                pages.push(next);
            }

            document.getElementById('pagination').innerHTML = pages.join('');
        },
    });

    $('#searchButton').click(function () {
        var review = $('#searchInput').val();
        $.ajax({
            url: `/admin/review/search?page=${page}&review=${review}`,
            type: 'GET',
            data: {},
            success: function (response) {
                $('#reviewTable').empty();
                const { searchReview, totalCount, firstPage, lastPage, totalPage } = response;
                $('#totalCount').text(`검색된 리뷰: ${totalCount}개`);
                let count = 0;
                for (let i = 0; i < searchReview[0].length; i++) {
                    const {
                        id: reviewId,
                        userId,
                        partyId,
                        party,
                        user,
                        rating,
                        review,
                        createdAt,
                        updatedAt,
                        deletedAt,
                    } = searchReview[0][i];
                    let name = searchReview[0][i].user.name;
                    if (deletedAt === null) {
                        const createdate = new Date();
                        const year = createdate.getFullYear();
                        const month = ('0' + (createdate.getMonth() + 1)).slice(-2);
                        const day = ('0' + createdate.getDate()).slice(-2);

                        const update = new Date();
                        const updateYear = update.getFullYear();
                        const updateMonth = ('0' + (update.getMonth() + 1)).slice(-2);
                        const updateDay = ('0' + update.getDate()).slice(-2);

                        const reviewTable = `<tr>
                            <td>${count + 1}</td>
                            <td><a href="/user-detail/${userId}">${name}</a></td>
                            <td>${rating}</td>
                            <td>${review}</td>
                            <td><a href="/party/${partyId}">파티확인하기</a></td>
                            <td>${year}-${month}-${day}</td>
                            <td>${updateYear}-${updateMonth}-${updateDay}</td>
                            <td><button type="button" onclick="deleteReviewByAdmin(${reviewId})" class="btn btn-danger">Delete</button></td>
                        </tr>`;

                        $('#reviewTable').append(reviewTable);
                        count++;
                    }
                }
                const pages = [];

                // prev 버튼
                if (page > 1) {
                    const prev = `
                    <a href='?page=${Number(page) - 1}'><div class="pagination-btn">이전</div></a>
                        `;
                    pages.push(prev);
                }

                // pages 버튼
                for (let i = firstPage; i <= lastPage; i++) {
                    const pageList =
                        Number(page) === i
                            ? `<a href='?page=${i}'><div class="pagination-btn active">${i}</div></a>`
                            : `<a href='?page=${i}'><div class="pagination-btn">${i}</div></a>`;

                    pages.push(pageList);
                }

                // next 버튼
                if (page < totalPage) {
                    const next = `
                    <a href='?page=${Number(page) + 1}'><div class="pagination-btn">다음</div>
                        `;
                    pages.push(next);
                }

                document.getElementById('pagination').innerHTML = pages.join('');
            },
            error: function () {
                alert('해당 단어를 찾을수 없습니다.');
            },
        });
    });

    function deleteReviewByAdmin(reviewId) {
        const result = confirm('해당 리뷰를 삭제하시겠습니까?');
        if (result) {
            $.ajax({
                type: 'DELETE',
                url: `/admin/review/${reviewId}`,
                data: {},
                headers: {
                    authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                    refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
                },
                success: function (response) {
                    alert('리뷰 삭제');
                    $(`#id${reviewId}`).remove();
                    window.location.reload();
                },
            });
        } else {
            alert('삭제 취소');
        }
    }
</script>
