        <link href="https://webfontworld.github.io/naver/NanumSquare.css" rel="stylesheet" />
        <!-- 아이콘 링크 -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />


<div class="wrapper">
    <form method="post" name="join" id="join">
        <!-- 로그인 로고 자리 -->
        <header class="login-header">
            <div id="header-login">
                <h3 class="login-logo">
                    <span><img alt="모아바 메인로고" src="image/main.png" /></span>
                    <p>로그인하고 더 많은 서비스를 누리세요</p>
                </h3>
            </div>
        </header>

        <div id="container-login">
            <div class="row-group">
                <div class="user-input">
                    <!-- 이메일 입력 -->

                    <h3 class="list">이메일<span id="email-error"></span></h3>
                    <span class="input-wrapper email-int box" id="emailBox">
                        <input
                            type="text"
                            id="input-email"
                            maxlength="20"
                            class="check email-input"
                        />
                        <span>@</span>
                        <!-- 이메일 택일 -->
                        <select id="mail-select">
                            <option>이메일 선택</option>
                            <option>naver.com</option>
                            <option>gmail.com</option>
                            <option>daum.net</option>
                            <option>hanmail.net</option>
                            <option>hotmail.com</option>
                            <option>nate.com</option>
                            <option>yahoo.co.kr</option>
                            <option>empas.com</option>
                            <option>freechal.com</option>
                            <option>lycos.co.kr</option>
                            <option>korea.com</option>
                            <option>hanmir.com</option>
                            <option>dreamwiz.com</option>
                            <option>paran.com</option>
                        </select>
                    </span>
                </div>

                <div class="user-input">
                    <!-- 비밀번호 입력 -->
                    <h3 class="list">비밀번호<span id="pw-error"></span></h3>
                    <span class="box int-id">
                        <input
                            type="password"
                            id="input-password"
                            class="int check"
                            maxlength="20"
                        />
                    </span>
                </div>

                <div class="btn_area">
                    <button
                        onclick="signIn()"
                        type="button"
                        class="btn_type btn_primary btn_point"
                    >
                        로그인
                    </button>
                </div>
            </div>

            <!--class,PW 찾기 및 회원가입 부분-->
            <section class="find-signup-wrap">
                <span class="find-id">
                    <a style="cursor: pointer;" onclick="location.href='/find-email'">계정 찾기</a>
                </span>
                <span class="find-pw">
                    <a style="cursor: pointer;" onclick="location.href='/find-password'">비밀번호 찾기</a>
                </span>
                <span class="sign-up">
                    <a style="cursor: pointer;" onclick="location.href='/sign-up'">회원가입</a>
                </span>
            </section>
            <div class="login-box">
                <button><img src="kakao.png" />카카오 로그인</button>
            </div>
        </div>
    </form>
</div>

<script>
    function signIn() {
        const signInfo = {
            email: $('#input-email').val() + '@' + $('#mail-select').val(),
            password: $('#input-password').val(),
        };
        $.ajax({
            type: 'POST',
            url: '/auth/login',
            data: signInfo,
            success: function (response) {
                const userId = response.userId
                sessionStorage.setItem('accessToken', response.accessToken);
                sessionStorage.setItem('refreshToken', response.refreshToken);
                window.location.replace('/')
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                    window.location.reload();
                });
            },
        });
    }
</script>
