<div class="wrapper-login">
    <header class="login-header">
        <div id="header">
            <h3 class="signup-logo">
                <span><img alt="모아바 메인로고" src="image/main.png" /></span>
                <p>회원님의 계정을 찾아드립니다</p>
            </h3>
        </div>
    </header>
    <div id="container-login">
        <div class="row-group">

            <!-- 이름 입력 -->
            <div class="user-input">
                <h3 class="list">이름<span id="name-error"></span></h3>
                <span class="box int-id"
                    ><input type="text" id="input-name" class="int check" maxlength="20"
                /></span>
            </div>

            <!-- 휴대폰 입력 -->
            <div class="user-input">
                <h3 class="list">휴대폰<span id="phone-num-error"></span></h3>
                <span class="box int-id">
                    <input
                        type="number"
                        pattern="[0-9]*"
                        id="input-phone"
                        class="int check"
                        maxlength="20"
                    />
                </span>
            </div>
            <div class="btn_area">
                <button onclick="findEmail()" type="button" id="btnJoin" class="btn_type btn_primary">
                    이메일 찾기
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function findEmail() {
        const userInfo = {
            name: $('#input-name').val(),
            phone: $('#input-phone').val(),
        };

        $.ajax({
            type: 'POST',
            url: '/auth/find-email',
            data: userInfo,
            success: function (response) {
                customAlert(`회원가입 계정: ${response.email}`, function () {
                    window.location.replace('/login')
                });
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                    window.location.reload();
                });
            },
        });
    }
</script>
