<div class="wrapper-login">
    <header class="login-header">
        <div id="header">
            <h3 class="signup-logo">
                <span><img alt="모아바 메인로고" src="image/main.png" /></span>
                <p>비밀번호 재설정</p>
            </h3>
        </div>
    </header>
    <div id="container-login">
        <div class="row-group">

            <div class="user-input">
                <!-- 비밀번호 입력 -->
                <h3 class="list">비밀번호<span id="pw-error"></span></h3>
                <span class="box int-id">
                    <input type="password" id="input-password" class="int check" maxlength="20" />
                </span>
            </div>

            <!-- 비밀번호 재확인 입력 -->
            <div class="user-input">
                <h3 class="list">비밀번호 재입력<span id="pw-check-error"></span></h3>
                <span class="box int-id"
                    ><input
                        type="password"
                        id="input-confirmPassword"
                        class="int check"
                        maxlength="20"
                /></span>
            </div>
            <div class="btn_area">
                <button onclick="resetPassword()" type="button" class="btn_type btn_primary btn_point">
                    비밀번호 재설정
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function resetPassword() {
        const newPassword = {
            email: sessionStorage.getItem('email'),
            password: $('#input-password').val(),
            confirmPassword: $('#input-confirmPassword').val(),
        };

        $.ajax({
            type: 'PATCH',
            url: '/auth/reset-password',
            data: newPassword,
            success: function (response) {
                sessionStorage.removeItem('email');
                customAlert(
                    '비밀번호가 새로 설정되었습니다. 로그인 페이지로 이동합니다.',
                    function () {
                        window.location.reload('/login');
                    },
                );
            },
            error: function (error) {
                customAlert(error.responseJSON.errorMessage);
            },
        });
    }
</script>
