<div class="wrapper-login">
    <header class="login-header">
        <div id="header">
            <h3 class="signup-logo">
                <span><img class="mainlogo" alt="모아바 메인로고" src="/imgs/logo.png" /></span>
                <p>비밀번호 찾기</p>
            </h3>
        </div>
    </header>
    <div id="container-login">
        <div class="row-group">
            <!-- 인증번호 입력 -->
            <div class="user-input">
                <h3 class="list">인증번호<span id="name-error"></span></h3>

                <span class="box int-id"
                    ><input
                        type="text"
                        id="input-authenticate-code"
                        class="int check"
                        maxlength="20"
                /></span>
            </div>
            <div style="text-align: center" class="countdown_area">
                <span style="color: red" id="countdown"></span>
            </div>

            <div class="btn_area">
                <button
                    onclick="authenticateCode()"
                    type="button"
                    id="btnJoin"
                    class="btn_type btn_primary btn_point"
                >
                    인증 하기
                </button>
            </div>
        </div>
    </div>
    <section class="find-signup-wrap">
        <span class="note-info">
            <a>회원님의 이메일로 전송된 인증번호를 확인해 주세요</a>
        </span>
        </span>
    </section>
</div>

<script>
    const countdownEl = document.getElementById('countdown');
    const startingMinutes = 5;
    let time = startingMinutes * 60; // 초 단위로 변경

    // 1초마다 실행할 함수
    setInterval(updateCountdown, 1000);

    function updateCountdown() {
        const minutes = Math.floor(time / 60); // 분
        let seconds = time % 60; // 초

        // 10보다 작은 초는 앞에 0 붙이기
        if (seconds < 10) {
            seconds = '0' + seconds;
        }

        countdownEl.innerHTML = `${minutes}:${seconds}`;

        time--; // 시간 감소

        if (time === 0) {
            clearInterval();
            customAlert('시간이 만료되어 이전페이지로 이동합니다.', function () {
                history.back();
            });
        }
    }

    function authenticateCode() {
        if ($('#input-authenticate-code').val().length == 0) {
            customAlert('회원님의 이메일로 전송된 인증번호를 입력하십시오.', function () {
                window.location.reload();
            });
            return;
        }
        const requiredInfo = {
            email: sessionStorage.getItem('email'),
            userAuthenticationCode: $('#input-authenticate-code').val(),
        };

        $.ajax({
            type: 'POST',
            url: '/auth/code-authentication',
            data: requiredInfo,
            success: function (response) {
                customAlert('인증에 성공하였습니다.', function () {
                    window.location.href = '/reset-password';
                });
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                    window.location.reload();
                });
            },
        });
    }
</script>
