<div class="wrapper-login">
    <header class="login-header">
        <div id="header">
            <h3 class="signup-logo">
                <span><img alt="모아바 메인로고" src="image/main.png" /></span>
                <p>비밀번호 찾기</p>
            </h3>
        </div>
    </header>
    <div id="container-login">
        <div class="row-group">
            <!-- 이름 입력 -->
            <div class="user-input">
                <h3 class="list"><span id="name-error"></span></h3>
                <!-- 이메일 입력 -->
                <h3 class="list">이메일<span id="email-error"></span></h3>
                <span class="input-wrapper email-int box" id="emailBox">
                    <input type="text" id="input-email" maxlength="20" class="check email-input" />
                    <span>@</span>
                    <!-- 이메일 택일 -->
                    <select id="mail-select">
                        <option>이메일 선택</option>
                        <option>naver.com</option>
                        <option>gmail.com</option>
                        <option>daum.net</option>
                        <option>hanmail.net</option>
                        <option>hotmail.com</option>
                        <option>nate.com</option>
                        <option>yahoo.co.kr</option>
                        <option>empas.com</option>
                        <option>freechal.com</option>
                        <option>lycos.co.kr</option>
                        <option>korea.com</option>
                        <option>hanmir.com</option>
                        <option>dreamwiz.com</option>
                        <option>paran.com</option>
                    </select>
                </span>

                <div class="btn_area">
                    <button
                        onclick="authenticateEmail()"
                        type="button"
                        id="btnJoin"
                        class="btn_type btn_primary"
                    >
                        인증번호 전송
                    </button>
                </div>
            </div>
        </div>
        <section class="find-signup-wrap">
            <span class="find-id">
                <a>회원님이 가입하신 이메일로 인증번호가 발송됩니다.</a>
            </span>
            </span>
        </section>
    </div>



    <script>
        function authenticateEmail() {
            const email = $('#input-email').val() + '@' + $('#mail-select').val()

            $.ajax({
                type: 'POST',
                url: '/auth/email-authenticate',
                data: { email },
                success: function (response) {
                    sessionStorage.setItem('email', email);
                    window.location.href = '/authentication';
                },
                error: function (error) {
                    customAlert(error.responseJSON.message, function () {
                        window.location.reload();
                    });
                },
            });
        }
    </script>
</div>
