<div class="wrapper-login">
    <form onsubmit="preventSubmit(event)" name="join" id="join">
    <header class="login-header">
        <div id="header">
            <h3 class="signup-logo">
                <span><img class="mainlogo" alt="모아바 메인로고" src="/imgs/logo.png" /></span>
                <p style="margin-top:15px">비밀번호 재설정</p>
            </h3>
        </div>
    </header>
    <div id="container-login">
        <div class="row-group">
            <div class="user-input">
                <!-- 비밀번호 입력 -->
                <h3 class="list">비밀번호<span id="pw-error"></span></h3>
                <span class="box int-id">
                    <input type="password" id="input-password" class="int check" maxlength="20" />
                </span>
            </div>

            <!-- 비밀번호 재확인 입력 -->
            <div class="user-input">
                <h3 class="list">비밀번호 재입력<span id="pw-check-error"></span></h3>
                <span class="box int-id"
                    ><input
                        type="password"
                        id="input-confirmPassword"
                        class="int check"
                        maxlength="20"
                /></span>
            </div>
            <div class="btn_area">
                <button
                    onclick="resetPassword()"
                    type="button"
                    class="btn_type btn_primary btn_point"
                >
                    비밀번호 설정
                </button>
            </div>
        </div>
    </div>
    <section class="find-signup-wrap">
        <span class="note-info">
            <a>회원님의 비밀번호를 설정해주세요.</a>
        </span>
        </span>
    </section>
    </form>
</div>

<script>
    let userEmail

    $(document).ready(function () {
        getMyInfo(function (userInfo) {
            if (userInfo) {
                userEmail = userInfo.email
            } else {
                return false
            }
        });
    });

    let join = document.join;
    let input = document.querySelectorAll('.check');

    let errorId = [ 'pw-error', 'pw-check-error'];
    let error = document.querySelectorAll('.list > span');

    function innerReset(error) {
        for (let i = 0; i < error.length; i++) {
            error[i].innerHTML = '';
        }
    }

    innerReset(error);

    join['input-password'].onblur = function () {
        innerReset(error); // 초기화 메서드 호출
        let pwLimit = /^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9~!@#$%^&*()_-]{10,20}$/;
        if (!pwLimit.test(input[0].value)) {
            document.getElementById(errorId[0]).innerHTML =
                '10~20자의 문자와 숫자 조합으로 작성해주세요.'
        }
    };

    function resetPassword() {
        let errorStr = [
            ' 비밀번호를',
            ' 비밀번호 확인을',
        ];

        innerReset(error);

        for (let i = 0; i < input.length; i++) {
            if (!input[i].value.trim()) {
                document.getElementById(errorId[i]).innerHTML = errorStr[i] + ' 입력해 주세요.';
                input[i].focus();
                return false;
            }
        }

        // 비밀번호 재확인
        if (join['input-password'].value != join['input-confirmPassword'].value) {
            document.getElementById('pw-check-error').innerHTML = ' 비밀번호가 일치하지 않습니다.';
            join['input-confirmPassword'].focus();
            return false;
        }

        let pwLimit = /^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9~!@#$%^&*()_-]{10,20}$/;

        // PW 유효성검사
        if (!pwLimit.test(input[0].value)) {
            document.getElementById(errorId[0]).innerHTML =
                '10~20자의 문자와 숫자를 조합하여야 합니다.';
            join.pw.focus();
            return false;
        }
        
        let emailFromSessionOrUserInfo
        if (sessionStorage.getItem('email')) {
            emailFromSessionOrUserInfo = sessionStorage.getItem('email')
        } else {
            emailFromSessionOrUserInfo = userEmail
        }
        
        const newPassword = {
            email: emailFromSessionOrUserInfo,
            password: $('#input-password').val(),
            confirmPassword: $('#input-confirmPassword').val(),
        };
        
        $.ajax({
            type: 'PATCH',
            url: '/auth/reset-password',
            data: newPassword,
            success: function (response) {
                if (sessionStorage.getItem('email')) {
                    sessionStorage.removeItem('email');
                        customAlert('비밀번호가 새로 설정되었습니다.', function () {
                        window.location.replace('/login');
                    });
                } else {
                    customAlert('비밀번호가 변경되었습니다.', function () {
                    window.location.replace('/user-mypage');
                })
                }
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                        window.location.reload();
                    });
            },
        });
    }
</script>
