<h2>비밀번호 찾기</h2>

<div>
    <label for="exampleInputMobile">가입하신 이메일로 인증번호를 보내드립니다.</label>
    <input type="text" class="form-control mt-2" id="input-email" placeholder="이메일" />
</div>

<button onclick="authenticateEmail()">인증번호 전송</button>

<script>
    function authenticateEmail() {
        const email =  $('#input-email').val()

        $.ajax({
            type: 'POST',
            url: '/auth/email-authenticate',
            data: { email },
            success: function (response) {
                sessionStorage.setItem('email', email);
                window.location.href = '/authentication';
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                    window.location.reload();
                });
            },
        });
    }
</script>
