<h2>인증번호 입력 페이지</h2>

<div>
    <label for="exampleInputMobile">인증번호 입력</label>
    <input type="text" class="form-control mt-2" id="input-authenticate-code" placeholder="인증번호" />
</div>

<button onclick="authenticateCode()">인증번호 확인</button>


<script>
    function authenticateCode() {
        const requiredInfo = {
            email: sessionStorage.getItem('email'),
            userAuthenticationCode: $('#input-authenticate-code').val(),
        };

        $.ajax({
            type: 'POST',
            url: '/auth/code-authentication',
            data: requiredInfo,
            success: function (response) {
                customAlert("인증에 성공하였습니다.", function () {
                    window.location.href = '/reset-password';
                });            
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                    window.location.reload();
                });
            },
        });
    }
</script>
