<h2>비밀번호 초기화 화면</h2>

<div>
    <label for="exampleInputMobile">비밀번호 재설정</label>
    <input type="text" class="form-control mt-2" id="input-password" placeholder="비밀번호" />
    <input type="text" class="form-control mt-2" id="input-confirmPassword" placeholder="비밀번호 재입력" />
</div>

<button onclick="resetPassword()">비밀번호 설정하기</button>

<script>
    function resetPassword() {
        const newPassword = {
            email: sessionStorage.getItem('email'),
            password: $('#input-password').val(),
            confirmPassword: $('#input-confirmPassword').val(),
        };

        $.ajax({
            type: 'PATCH',
            url: '/auth/reset-password',
            data: newPassword,
            success: function (response) {
                sessionStorage.removeItem('email');
                customAlert(
                    '비밀번호가 새로 설정되었습니다. 로그인 페이지로 이동합니다.',
                    function () {
                        window.location.href = '/login';
                    },
                );
            },
            error: function (error) {
                customAlert(error.responseJSON.errorMessage);
            },
        });
    }
</script>
