<h2>비밀번호 찾기</h2>

<script>
    function emailAthenticate() {
        const email = $('#input-email').val();
        $.ajax({
            type: 'POST',
            url: '/auth/email-authenticate',
            data: { email },
            success: function (response) {
                sessionStorage.setItem('email', email);
                window.location.href = '/authentication';
            },
            error: function (error) {
                customAlert(error.responseJSON.errorMessage);
            },
        });
    }
</script>
