<h2>비밀번호 초기화 화면</h2>

<script>
    function resetPassword() {
        const password = {
            email: sessionStorage.getItem('email'),
            password: $('#input-password').val(),
            confirmPassword: $('#input-confirmPassword').val(),
        };

        $.ajax({
            type: 'POST',
            url: '/auth/reset-password',
            data: password,
            success: function (response) {
                sessionStorage.removeItem('email');
                customAlert(
                    '비밀번호가 새로 설정되었습니다. 로그인 페이지로 이동합니다.',
                    function () {
                        window.location.href = '/login';
                    },
                );
            },
            error: function (error) {
                customAlert(error.responseJSON.errorMessage);
            },
        });
    }
</script>
