<div class="wrapper-login">
    <form onsubmit="preventSubmit(event)" name="join" id="join">
    <header class="login-header">
        <div id="header">
            <h3 class="signup-logo">
                <span><img class="mainlogo" alt="모아바 메인로고" src="/imgs/logo.png" /></span>
                <p style="margin-top:15px">비밀번호 찾기</p>
            </h3>
        </div>
    </header>
    <div id="container-login">
        <div class="row-group-login">
            <div class="user-input">
                <!-- 이메일 입력 -->
                <h3 class="list">이메일<span id="email-error"></span></h3>
                <span class="input-wrapper email-int box" id="emailBox">
                    <input type="text" id="input-email" maxlength="20" class="check email-input" />
                    <span>@</span>
                    <!-- 이메일 택일 -->
                    <select id="mail-select">
                        <option>이메일 선택</option>
                        <option>naver.com</option>
                        <option>gmail.com</option>
                        <option>daum.net</option>
                        <option>hanmail.net</option>
                        <option>hotmail.com</option>
                        <option>nate.com</option>
                        <option>yahoo.co.kr</option>
                        <option>empas.com</option>
                        <option>freechal.com</option>
                        <option>lycos.co.kr</option>
                        <option>korea.com</option>
                        <option>hanmir.com</option>
                        <option>dreamwiz.com</option>
                        <option>paran.com</option>
                    </select>
                </span>
                <div class="btn_area">
                    <button
                        onclick="authenticateEmail()"
                        type="button"
                        class="btn_type btn_primary btn_point"
                    >
                        인증번호 전송
                    </button>
                </div>
            </div>
        </div>
    </div>
        <section class="find-signup-wrap">
            <span class="note-info">
                <a>회원님이 가입하신 이메일로 인증번호가 발송됩니다.</a>
            </span>
            </span>
        </section>
    </form>
</div>

<script>
    let join = document.join;
    let input = document.querySelectorAll('.check');

    let errorId = ['email-error'];
    

    function innerReset() {
        document.getElementById('email-error').innerHTML = '';
    }

    innerReset();

    join['input-email'].onblur = function () {
        innerReset();
        let emailLimit = /^[a-zA-Z0-9._-]+$/;
        if (!emailLimit.test(input[0].value)) {
            document.getElementById('email-error').innerHTML =
                ' 영문과 숫자 또는 (-)(_)(.)을 조합한 문자열만 입력 가능합니다.';
        }
    };

    function authenticateEmail() {

        innerReset();

        // input 공백확인
        if (!input[0].value.trim()) {
            document.getElementById('email-error').innerHTML = '이메일을 입력해 주세요.';
            input.focus();
            return false;
        }
        
        // email 주소선택 확인
        if (document.getElementById('mail-select').value == '이메일 선택') {
            document.getElementById('email-error').innerHTML = ' 이메일을 선택해주세요.';
            return false;
        }

        const email = $('#input-email').val() + '@' + $('#mail-select').val()

        $.ajax({
            type: 'POST',
            url: '/auth/email-authenticate',
            data: { email },
            success: function (response) {
                sessionStorage.setItem('email', email);
                customAlert('인증번호가 발송되었습니다.', function () {
                    window.location.href = '/authentication';
                    }
                )
            },
            error: function (error) {
                customAlert(error.responseJSON.message, function () {
                    window.location.reload();
                });
            },
        });
    }
</script>
