<main-header class="main-header" id="main-header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="assets/img/logo.png" alt="" class="nav__logo-img">
            모아바
        </a>
        
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link active-link">파티 탐색하기</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">파티 호스트</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">로그인</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-grid-alt'></i>
        </div>
    </nav>
    
</header>