<!DOCTYPE html>
<html lang="ko"> 
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://webfontworld.github.io/naver/NanumSquare.css" rel="stylesheet">

<!-- 아이콘 링크 -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<link rel="stylesheet" href="header.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

</head>
<body> 
    <header>
        <a href="#" class="logo-header">logo</a>
        <div class="navigation">
            <ul class="menu">
                <div class="close-btn"></div>
                <li class="menu-item"><a href="#">파티 탐색하기</a></li>
                <li class="menu-item">
                    <a class="sub-btn" href="#">메뉴<i class="uil uil-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">로그인</a></li>
                        <li class="sub-item"><a href="#">회원가입</a></li>
                        <li class="sub-item"><a href="#">파티를 열어보세요</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="menu-btn"></div>
    </header>

    <script src="header.js"></script>

</body>
</html>