<%-include('header.ejs') %>
<div id="wrap-home">
  <div class="content">
      <div class="content2"></div>
      <div class="cont-bx">
          <p>홈파티를 파티티</p>
      </div>
      <div class="cont-bx2">
          <h1>홈파티를 파티파티 파티</h1>
          
          <!-- <button>파티를 시작해보자</button> -->
      </div>
      <p id="text-main">아늑한 우리만의 공간에서 우리끼리 놀자 대단할 것 없어요
          간단하게 집에서 밥 해먹고, 차 마시고, 디저트 먹고 
          심심하면 카드 게임이나 보드 게임 하는 거죠 간단하게 집에서 밥 해먹고 </p>
      <div class="trip-bx">
          <div class="search-bx">
              <div class="card">
                  <h4>장소</h4>
                  <input type="text" placeholder="장소뿅">
              </div>
              <div class="card">
                  <h4>날짜</h4>
                  <input type="date">
              </div>

              <div class="card">
                  <h4>인간</h4>
                  <input type="number" placeholder="몇명">
              </div>
              <input type="button" img src="iconsearch.png" class="cover">

          </div>
      </div> 
  </div>    
</div>