        <!--==================== MAIN ====================-->
        <main class="first-page-main">
            <div id="wrap-home">
                <div class="content">
                    <div class="content2">
                        <!-- <img src="/imgs/party.png" alt="" class="specialty__img"> -->
                    </div>
                    <div class="cont-bx">
                        <p>우리의 파티는</p>
                    </div>
                    <div class="cont-bx2">
                        <p>내 집처럼 편안하다</p>
                        
                        <!-- <button>파티를 시작해보자</button> -->
                    </div>
                    <p class="text-main">내가 파티를 개최하기도 하고 다른 사람들이 개최한 파티에 참여하면서 무료한 하루를 바꿔보세요.</br>
                        증가하는 1인 세대, 아늑한 우리만의 공간에서 파티를 열어 새로운 친구를 만나요. 대단할 것 없어요.</br>
                        간단하게 집에서 안주 먹고 맥주 마시면서 잔뜩 수다 떨다가 신나게 춤도 춰요.</br>
                        당신의 첫 파티는 어떤 파티인가요?  
                    </p>
                </div>
            </div>
            <!--==================== 칸막이 ====================-->
            <section class="section-wrapper"></section>

            <!--==================== 파티주최자 소개 ====================-->
            <div class="specialty section king-container" id="specialty">
                <div class="specialty__container">
                    <div class="specialty__box">
                        <h2 class="section__title">
                            파티에
                        </h2>
                        <h2 class="section__title">
                            참여해볼까요?
                        </h2>

                        <!-- <div>
                            <a href="#" class="button specialty__button">더보기</a>
                        </div> -->
                    </div>
                    <div class="specialty__category">
                        <div class="specialty__group specialty__line">
                            <h2 class="specialty__title">탐색</h2>
                            <img src="/imgs/map.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                주변의 인기 많은 파티에 갈지, 가장 뜨거운 파티로
                                멀리 가볼지, 내 취향에 맞게 골라봐요.
                            </p>
                        </div>
                        <div class="specialty__group specialty__line">
                            <h2 class="specialty__title">신청</h2>
                            <img src="/imgs/select.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                마음에 드는 파티를 찾았다면 주의사항을
                                잘 읽고, 늦기 전에 얼른 신청해봐요.
                            </p>
                        </div>
                        <div class="specialty__group specialty__line">
                            <h2 class="specialty__title">파티</h2>
                            <img src="/imgs/party.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                디데이가 왔습니다! 드레스 코드를 잘
                                맞춰서 새로운 사람도 만나고 신나게 즐겨요.
                            </p>
                        </div>
                        <div class="specialty__group">
                            <h2 class="specialty__title">리뷰</h2>
                            <img src="/imgs/review.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                얼마나 멋진 파티였는지 모두에게 알려주세요.
                                파티가 끝난 후 리뷰를 남겨주세요.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--==================== 칸막이 ====================-->
            <section class="section-wrap-map"></section>
            
            <!--==================== QUALITY ====================-->
            <section class="quality section" id="premium">
                <div class="quality__container king-container">
                    <h2 class="quality-section__title">
                        어디서
                    </h2>
                    <h2 class="quality-section__title">
                        만날까요?
                    </h2>

                    <div class="quality__content grid-map">
                        <div class="quality__images">
                            <img src="/imgs/jjim.png" alt="" class="quality__img-big">
                        </div>

                        <div class="quality__data">
                            <span class="quality__special">원하는 파티를 위치별로<br>탐색해봐요</span>
                            <p class="quality__txt">
                                주위에 있는 파티와 내가 찜한 파티를<br>한 눈에 골라보세요
                            </p>

                            <div class="quality__buttons">
                                <a href="/party" class="quality__button">
                                    <p>자세히 알아보기</p>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                </section>
            <!--==================== 칸막이 ====================-->
            <section class="section-wrap-color"></section>
           
            <!--==================== 파티참가자 소개 ====================-->
            <div class="specialty2 section kong-container" id="specialty2">
                <div class="specialty2__container">
                    <div class="specialty__box">
                        <h2 class="section__title">
                            파티를
                        </h2>
                        <h2 class="section__title">
                            열어볼까요?
                        </h2>

                        <!-- <div>
                            <a href="#" class="button specialty__button">더보기</a>
                        </div> -->
                    </div>
                    <div class="specialty__category">
                        <div class="specialty__group specialty__line">
                            <h2 class="specialty__title">작성</h2>
                            <img src="/imgs/calendar.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                날짜를 정해서 어떤 멋진 파티를 열지 계획하세요.
                                게스트들이 참고할 만한 주의사항도 꼭 준비해주세요.
                            </p>
                        </div>
                        <div class="specialty__group specialty__line">
                            <h2 class="specialty__title">게스트확인</h2>
                            <img src="/imgs/inbox.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                참가 신청이 왔어요. 어떤 게스트들이 참가를
                                원하는지 확인하고 승낙 혹은 거절을 눌러주세요.
                            </p>
                        </div>
                        <div class="specialty__group specialty__line">
                            <h2 class="specialty__title">파티준비</h2>
                            <img src="/imgs/house.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                파티 테마에 어울리는 아이템으로 집안을
                                꾸미고 플레이리스트를 채워봐요.
                            </p>
                        </div>
                        <div class="specialty__group">
                            <h2 class="specialty__title">게스트맞이</h2>
                            <img src="/imgs/welcome.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                하나둘씩 오는 손님들이 편안할 수
                                있게 따뜻하게 맞이해주세요.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


             <!--==================== 칸막이 ====================-->
            <section class="section-wrapper"></section>
           
            <!--==================== FOOTER ====================-->
            <footer style="background:#242424;">
                <div class="footer__container">
                    <p class="footer__title">모아바</p>
                    <div class="footer__content footer-grid">
                        <div class="footer__data">
                            <p class="footer__description">
                                대표: 오영환 <br> 이설인 | 이정기 | 이지영 | 육준호 
                                <br> 전화번호: 010-0000-0000
                            </p>
                        </div>
                        <div class="footer__data">
                            <p class="footer__description">
                                Image by <a href="https://www.freepik.com/free-vector/hand-drawn-sunbursts-collection_15856409.htm#query=sun%20illustration&position=1&from_view=keyword&track=ais">Freepik</a>
                                <img src="/imgs/kakao.png" alt="" class="footer-img">
                            </p>
                            <span class="footer__copy">
                                &#169; 2023 MOAVA All rights reserved
                            </span>
                        </div>
                    </div>
                </div>
            </footer>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt' ></i>
        </a>
