<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="assets/css/styles.css">

    </head>
    <body>
        <!--==================== LOADER ====================-->
        

        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img src="assets/img/logo.png" alt="" class="nav__logo-img">
                    모아바
                </a>
                
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav__link active-link">파티 탐색하기</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">파티 호스트</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">로그인</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt'></i>
                </div>
            </nav>
            
        </header>

        <!--==================== MAIN ====================-->
        <main>
            <div id="wrap-home">
                <div class="content">
                    <div class="content2">
                        <img src="assets/img/4mage.jpeg" alt="" class="specialty__img">
                    </div>
                    <div class="cont-bx">
                        <p>홈파티를 파티티</p>
                    </div>
                    <div class="cont-bx2">
                        <p>홈파티를 파티파티 파티</p>
                        
                        <!-- <button>파티를 시작해보자</button> -->
                    </div>
                    <p class="text-main">아늑한 우리만의 공간에서 우리끼리 놀자 대단할 것 없어요
                        간단하게 집에서 밥 해먹고, 차 마시고, 디저트 먹고 
                        심심하면 카드 게임이나 보드 게임 하는 거죠 간단하게 집에서 밥 해먹고 
                    </p>
                </div>
            </div>
            <!--==================== HOME ====================-->
            <section class="home grid" id="home">
                
            </section>

            <!--==================== ESPECIALTY ====================-->
            <div class="specialty section container" id="specialty">
                <div class="specialty__container">
                    <div class="specialty__box">
                        <h2 class="section__title">
                            파티는 이렇게 여는겁니다 
                        </h2>

                        <div>
                            <a href="#" class="button specialty__button">더보기</a>
                        </div>
                    </div>
                    <div class="specialty__category">
                        <div class="specialty__group specialty__line">
                            <img src="assets/img/4mage.jpeg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                파티는 이렇게 저렇게 여는것이야
                            </p>
                        </div>
                        <div class="specialty__group specialty__line">
                            <img src="assets/img/2mage.jpg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                집이 더러워
                            </p>
                        </div>
                        <div class="specialty__group">
                            <img src="assets/img/3mage.jpeg" alt="" class="specialty__img">

                            <h3 class="specialty__title"></h3>
                            <p class="specialty__description">
                                청소하고가
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--==================== PRODUCTS ====================-->
            <section class="products section" id="products">
                
            </section>

            <!--==================== QUALITY ====================-->
            <section class="quality section" id="premium">
                <div class="quality__container container">
                    <h2 class="section__title">
                        케이크 먹는중 맛없다 블루베리 케이크
                    </h2>

                    <div class="quality__content grid">
                        <div class="quality__images">
                            <img src="assets/img/4mage.jpeg" alt="" class="quality__img-big">
                            <img src="assets/img/2mage.jpg" alt="" class="quality__img-small">
                        </div>

                        <div class="quality__data">
                            <h1 class="quality__title">ㅇ모뇸뇸</h1>
                            <h2 class="quality__price">ㅇ모뇸뇸</h2>
                            <span class="quality__special">쿰냐쿰먀</span>
                            <p class="quality__description">
                                아주 긴ㄱ 글을 써주쇼 
                                알간
                                넹
                            </p>

                            <div class="quality__buttons">
                                <button class="button">
                                    무슨버튼
                                </button> 

                                <a href="#" class="quality__button">
                                    보러가기
                                <i class='bx bx-right-arrow-alt'></i>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                </section>

            <!--==================== LOGOS ====================-->
            <section class="logo section">
                
            </section>

            <!--==================== BLOG ====================-->
            <section class="blog section" id="blog">
                
            </section>
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__container container">
                <h1 class="footer__title">모아바</h1>

                <div class="footer__content grid">
                    <div class="footer__data">
                        <p class="footer__description">
                            요것을 보시라요
                        </p>
                    </div>

                    <div class="footer__data">
                        <h2 class="footer__subtitle">연락처</h2>
                        <p class="footer__information">
                            8210010101 <br>
                            이메일@이메일.com
                        </p>
                    </div>

                    <div class="footer__data">
                        <h2 class="footer__subtitle">연락가능시간</h2>
                        <p class="footer__information">
                            월요일 - 금요일 <br>
                            9AM - 10PM
                        </p>
                    </div>
                </div>

                <div class="footer__group">
                    <ul class="footer__social">
                        <a href="">
                    </ul>

                    <span class="footer__copy">
                        &#169; 모아바. All rights reserved
                    </span>
                </div>
            </div>
        </footer>

        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt' ></i>
        </a>

        <!--=============== MIXITUP FILTER ===============-->
        <script src="/assets/js/mixitup.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script>
            /*=============== SHOW MENU ===============*/
const navMenu = document.getElementById('nav-menu'),
navToggle = document.getElementById('nav-toggle'),
navClose = document.getElementById('nav-close')

if(navToggle) {
navToggle.addEventListener('click', () => {
    navMenu.classList.add('show-menu')
})
}

if(navClose) {
navClose.addEventListener('click', () => {
    navMenu.classList.remove('show-menu')
})
}

/*=============== REMOVE MENU MOBILE ===============*/
const navLink = document.querySelectorAll('.nav__link')

function linkAction() {
const navMenu = document.getElementById('nav-menu')
navMenu.classList.remove('show-menu')
}
navLink.forEach(n => n.addEventListener('click', linkAction))

/*=============== CHANGE BACKGROUND HEADER ===============*/
function scrollHeader() {
const header = document.getElementById('header')

if(this.scrollY >= 50) header.classList.add('scroll-header'); else header.classList.remove('scroll-header')
}
window.addEventListener('scroll', scrollHeader)

/*=============== MIXITUP FILTER PRODUCTS ===============*/


/* Default filter products */ 


/* Link active products */ 


/*=============== SHOW SCROLL UP ===============*/ 
function scrollUp() {
const scrollUP = document.getElementById('scroll-up');
//스크롤이 350 뷰포트 높이보다 높을때, a 태그에 show-scroll 클래스를 scroll-top 클래스랑 같이 더함
if(this.scrollY >= 350) scrollUp.classList.add('show-scroll'); else scrollUp.classList.remove('show-scroll')
}
window.addEventListener('scroll', scrollUp)

/*=============== SCROLL SECTIONS ACTIVE LINK ===============*/
const sections = document.querySelectorAll('section[id]')

function scrollActive() {
const scrollY = window.pageYOffset

sections.forEach(current => {
    const sectionHeight = current.offsetHeight,
    sectionTop = current.offsetTop - 58,
    sectionId = current.getAttribute('id')

    if(scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
        document.querySelector('.nav__menu a[href*=' + sectionId + ']').classList.add('active-link')
    } else {
        document.querySelector('.nav__menu a[href*=' + sectionId + ']').classList.remove('active-link')
    }
})
}
window.addEventListener('scroll', scrollActive)


        </script>
    </body>
</html>

