<div class="wrap-board">
    <div class="board-title">
        <strong>파티 만들기</strong>
        <p>파티 작성</p>
    </div>
    <div class="wrap-board-cont">
        <div class="board-content">
            <div class="write-title">
                <dl>
                    <dt>제목</dt>
                    <dd><input class="input-title" type="text" placeholder=""></dd>
                </dl>
            </div>
            <div class="board-info">
                <dl>
                    <dt>인원</dt>
                    <dd><input class="input-maxMember" type="number" placeholder=""></dd>
                </dl>
            </div>
            <div class="cont">
                <dl>
                    <dt>파티소개</dt>
                    <dd><input class="input-content" type="text" placeholder=""></dd>
                </dl>
            
                <div class="wrap-bt">
                    <button onclick="createParty()">등록</button>
                    <a href="/party"><button>취소</button></a>
                </div>

        </div>
    </div>
</div>

<script>
    
  function createParty() {
        const partyInfo = {
            title : $('.input-title').val(),
            content : $('.input-content').val(),
            maxMember : $('.input-maxMember').val(),
            address: "서울",
            date : "2022-03-03",
            thumbnail : [],
            tagName : [],
        }
        console.log(partyInfo)
        $.ajax({
            type: 'POST',
            url: `api/party`,
            data: JSON.stringify(partyInfo),
            contentType: "application/json",
            headers: {
                authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
            },
            success: function (response) {
                customAlert("파티가 생성되었습니다!", function () {
                      window.location.reload('/party');
                    },
                );
                window.location.replace('/party')
            },
                error: function (error) {
                    console.log(error.responseJSON.message)
                    customAlert(error.responseJSON.message, function () {
                        window.location.reload();
                        },
                    );
                },
        });
    }
</script>