<main class="partySearch main container-fluid">
    <header class="partySearchBar mainHeader">
        <h2 class="a11yHidden">파티 검색</h2>

        <form class="partySearchForm" onsubmit="preventSubmit(event)">
            <fieldset>
                <legend class="a11yHidden">파티 검색 폼</legend>
                <input
                    type="text"
                    tabindex="1"
                    name="partyWhere"
                    placeholder="어디에서"
                    class="partyWhere"
                    id="partyWhere"
                />

                <div class="divider" aria-hidden="true"></div>

                <div class="partyWhen">
                    <div class="datePickerWrapper">
                        <input
                            type="text"
                            tabindex="2"
                            id="partyWhen"
                            class="datePicker"
                            placeholder="Select date"
                            readonly
                        />
                        <div class="calendar"></div>
                    </div>
                    <button
                        id="clearButton"
                        style="display: none; border: none; background-color: white"
                    >
                        ❌
                    </button>
                </div>

                <div class="divider" aria-hidden="true"></div>

                <input
                    type="text"
                    tabindex="3"
                    name="partyName"
                    placeholder="파티명"
                    class="partyName"
                    id="partyName"
                />

                <button
                    tabindex="4"
                    onclick="partySearch()"
                    id="partySubmitButton"
                    class="partySubmitButton"
                    aria-label="파티 검색하기 버튼"
                >
                    <i class="bx bx-search" aria-hidden="true"></i>
                </button>
            </fieldset>
        </form>
    </header>
    <div class="mainSection">
        <ul class="partyList partyGrid partyparty"></ul>
    </div>
</main>

<script>
    let page = 1;
    let totalCount;
    let userId;

    $(document).ready(function () {
        getMyInfo(function (userInfo) {
            if (userInfo) {
                userId = userInfo.id;
                getParties(userId, page);
            } else {
                getParties(0, page);
            }
        });
    });

    $('#partyWhen').click(function () {
        $('#clearButton').show();
    });

    $('#clearButton').click(function () {
        $('#partyWhen').val('');
        $(this).hide();
    });

    $(document).click(function (e) {
        if ($(e.target).attr('id') === 'partyWhen') {
            return;
        }
        if ($('#partyWhen').hasClass('active')) {
            $('#clearButton').hide();
        }
    });

    const placeInput = $('#partyWhere');
    const nameInput = $('#partyName');
    const input = $.merge(placeInput, nameInput);

    input.on('keyup', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $('#partySubmitButton').click();
        }
    });

    input.on('keyup', function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $('#partySubmitButton').click();
        }
    });

    function partySearch() {
        const address = $('#partyWhere').val();
        const date = $('#partyWhen').val();
        const title = $('#partyName').val();

        let webUrl = '/party?';
        if (address) {
            webUrl += `address=${address}&`;
        }
        if (date) {
            webUrl += `date=${date}&`;
        }
        if (title) {
            webUrl += `title=${title}&`;
        }
        webUrl = webUrl.slice(0, -1);

        if (!date && !address && !title) {
            window.location.replace('/party');
        }

        $.ajax({
            type: 'GET',
            url: `/api${webUrl}`,
            data: {},
            success: function (response) {
                history.pushState({ data: 'response.result' }, null, `${webUrl}`);

                let partyList = response.result;

                $('.partyList').empty();

                for (let i = 0; i < partyList.length; i++) {
                    const partyId = partyList[i]['id'];
                    const title = partyList[i]['title'];
                    const maxMember = partyList[i]['maxMember'];
                    const currMember = partyList[i]['currMember'];
                    const thumbnails = partyList[i]['thumbnail'];
                    const date = partyList[i]['date'];
                    const status = partyList[i]['status'];
                    const thumbnailList = partyList[i]['thumbnail'];
                    const wishList = partyList[i]['wishList'];

                    const isWishListMatchWithParty = wishList.find(
                        (party) => party.userId === userId,
                    );

                    //prettier-ignore
                    const thumbnailHtml = `
                    ${thumbnailList.length === 0 
                        ?  `<li class="thumbnailItem">
                                <div class="thumbnailRatio">
                                    <img
                                        src="/imgs/party-thembnail-default.jpg"
                                        alt=""
                                        class="thumbnailImage"
                                    />
                                </div>
                            </li>` 
                        : thumbnailList.map(({ thumbnail }) => `
                            <li class="thumbnailItem">
                                <div class="thumbnailRatio">
                                    <img
                                        src="${thumbnail}"
                                        alt=""
                                        class="thumbnailImage"
                                    />
                                </div>
                            </li>
                        `).join('')
                    }`;

                    const partyItem = `
                    <li class="partyItem">
                        <div class="thumbnailWrapper carousel">
                            <a href="party/${partyId}" class="partyLink thumbnailLink">
                                <ul class="thumbnailList carouselList">
                                    ${thumbnailHtml}
                                </ul>
                            </a>

                            <div class="thumbnailButtonWrapper carouselButtonWrapper">
                                <button
                                    type="button"
                                    class="thumbnailButton carouselButton prev"
                                    aria-label="이전 썸네일 보기"
                                >
                                    <i class="bx bx-chevron-left" aria-hidden="true"></i>
                                </button>
                                <button
                                    type="button"
                                    class="thumbnailButton carouselButton next"
                                    aria-label="다음 썸네일 보기"
                                >
                                    <i class="bx bx-chevron-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <a href="" class="partyLink">
                            <dl class="partyInfoList">
                                <div class="partyInfoItem partyTitle">
                                    <dt class="a11yHidden">제목</dt>
                                    <dd>
                                        ${title}
                                    </dd>
                                </div>
                                <div class="partyInfoItem partyHeadcount">
                                    <dt>현재</dt>
                                    <dd class="currentCount">
                                        ${currMember}명
                                    </dd>
                                    <dt>총</dt>
                                    <dd class="totalCount">
                                        ${maxMember}명
                                    </dd>
                                </div>
                                <div class="partyInfoItem partyEtc">
                                    <dt class="a11yHidden">지역</dt>
                                    <dd class="partyPlace">
                                    </dd>
                                    <dt class="a11yHidden">날짜</dt>
                                    <dd class="partyDate">
                                        ${date}
                                    </dd>
                                </div>
                            </dl>
                        </a>
                        ${
                            isWishListMatchWithParty
                                ? `<button onclick="updateWishList(${partyId})"type="button" class="partyLikeButton" aria-label="좋아요 목록에 추가 버튼">
                            <i id="likeOrNot${partyId}" class="fa-solid fa-heart" style="color:red";></i>
                        </button>`
                                : `<button onclick="updateWishList(${partyId})"type="button" class="partyLikeButton" aria-label="좋아요 목록에 추가 버튼">
                            <i id="likeOrNot${partyId}" class="fa-regular fa-heart"></i>
                        </button>`
                        }
                    </li>
                `;

                    $('.partyList').append(partyItem);
                }
                [...document.querySelectorAll('.carousel')].forEach(($carousel) => {
                    new Carousel($carousel);
                });
            },
        });
    }

    function getParties(userId, page) {
        $.ajax({
            type: 'GET',
            url: `/api/party/list?page=${page}`,
            data: {},
            success: function (response) {
                const partyList = response;

                for (let i = 0; i < partyList.length; i++) {
                    const partyId = partyList[i]['id'];
                    const title = partyList[i]['title'];
                    const maxMember = partyList[i]['maxMember'];
                    const currMember = partyList[i]['currMember'];
                    const thumbnails = partyList[i]['thumbnail'];
                    const date = partyList[i]['date'];
                    const status = partyList[i]['status'];
                    const thumbnailList = partyList[i]['thumbnail'];
                    const wishList = partyList[i]['wishList'];
                    const isWishListMatchWithParty = wishList.find(
                        (party) => party.userId === userId,
                    );

                    //prettier-ignore
                    const thumbnailHtml = `
                    ${thumbnailList.length === 0 
                        ?  `<li class="thumbnailItem">
                                <div class="thumbnailRatio">
                                    <img
                                        src="/imgs/party-thembnail-default.jpg"
                                        alt=""
                                        class="thumbnailImage"
                                    />
                                </div>
                            </li>`
                        : thumbnailList.map(({ thumbnail }) => `
                            <li class="thumbnailItem">
                                <div class="thumbnailRatio">
                                    <img
                                        src="${thumbnail}"
                                        alt=""
                                        class="thumbnailImage"
                                    />
                                </div>
                            </li>
                        `).join('')
                    }`;

                    const partyItem = `
                    <li class="partyItem">
                        <div class="thumbnailWrapper carousel">
                            <a href="party/${partyId}" class="partyLink thumbnailLink">
                                <ul class="thumbnailList carouselList">
                                    ${thumbnailHtml}
                                </ul>
                            </a>

                            <div class="thumbnailButtonWrapper carouselButtonWrapper">
                                <button
                                    type="button"
                                    class="thumbnailButton carouselButton prev"
                                    aria-label="이전 썸네일 보기"
                                >
                                    <i class="bx bx-chevron-left" aria-hidden="true"></i>
                                </button>
                                <button
                                    type="button"
                                    class="thumbnailButton carouselButton next"
                                    aria-label="다음 썸네일 보기"
                                >
                                    <i class="bx bx-chevron-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <a href="" class="partyLink">
                            <dl class="partyInfoList">
                                <div class="partyInfoItem partyTitle">
                                    <dt class="a11yHidden">제목</dt>
                                    <dd>
                                        ${title}
                                    </dd>
                                </div>
                                <div class="partyInfoItem partyHeadcount">
                                    <dt>현재</dt>
                                    <dd class="currentCount">
                                        ${currMember}명
                                    </dd>
                                    <dt>총</dt>
                                    <dd class="totalCount">
                                        ${maxMember}명
                                    </dd>
                                </div>
                                <div class="partyInfoItem partyEtc">
                                    <dt class="a11yHidden">지역</dt>
                                    <dd class="partyPlace">
                                    </dd>
                                    <dt class="a11yHidden">날짜</dt>
                                    <dd class="partyDate">
                                        ${date}
                                    </dd>
                                </div>
                            </dl>
                        </a>
                        ${
                            isWishListMatchWithParty
                                ? `<button onclick="updateWishList(${partyId})"type="button" class="partyLikeButton" aria-label="좋아요 목록에 추가 버튼">
                            <i id="likeOrNot${partyId}" class="fa-solid fa-heart" style="color:red";></i>
                        </button>`
                                : `<button onclick="updateWishList(${partyId})"type="button" class="partyLikeButton" aria-label="좋아요 목록에 추가 버튼">
                            <i id="likeOrNot${partyId}" class="fa-regular fa-heart"></i>
                        </button>`
                        }
                    </li>
                `;

                    $('.partyList').append(partyItem);
                }
                [...document.querySelectorAll('.carousel')].forEach(($carousel) => {
                    new Carousel($carousel);
                });
            },
        });
    }

    window.addEventListener('scroll', () => {
        // 문서의 총 높이
        const totalHeight = document.documentElement.scrollHeight;

        // 브라우저 창의 높이
        const windowHeight = window.innerHeight;

        // 스크롤된 거리
        const scrollDistance = window.scrollY;

        // 스크롤이 문서의 하단에 도달했는지 확인
        if (scrollDistance + windowHeight >= totalHeight) {
            // 페이지 번호 증가
            page++;
            getParties(userId, page);
        }
    });

    function updateWishList(partyId) {
        if (!userId) {
            customAlert('로그인 후 이용 가능합니다.', function () {
                window.location.reload();
            });
        } else {
            $.ajax({
                type: 'POST',
                url: `/user/wish-list/${partyId}`,
                data: {},
                headers: {
                    authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                    refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
                },
                success: function (response) {
                    if (response.updateOrDelete == 0) {
                        document
                            .querySelector(`#likeOrNot${partyId}`)
                            .classList.replace('fa-regular', 'fa-solid');
                        document.querySelector(`#likeOrNot${partyId}`).style.color = 'red';
                    } else {
                        document
                            .querySelector(`#likeOrNot${partyId}`)
                            .classList.replace('fa-solid', 'fa-regular');
                        document.querySelector(`#likeOrNot${partyId}`).style.color = '';
                    }
                },
                error: function (error) {
                    customAlert(error.responseJSON.message, function () {
                        window.location.reload();
                    });
                },
            });
        }
    }
</script>
