<h2>파티 상세페이지 호스트 화면</h2>
<div class="party-host-detail-review"></div>
<div class="party-host-detail-review-title">
    <h2>리뷰</h2>
</div>
<div id="reviews-container">
    <!-- 리뷰 데이터가 출력될 공간 -->
  </div>

<!-- <li>
    <div class="party-host-detail-review-form">
        <div class="party-host-detail-review-one">
            <div class="party-title">
                <div class="party-host-detail-review-content">
                    <button type="button" id="review-update">수정하기</button>
                    <button type="button" id="review-delete">삭제하기</button>
                    <div class="party-host-detail-review-userid"></div>
                </div>
            </div>
        </div>
    </div>
</li> -->
<div class="party-host-detail-review-content">
    <div class="review-userId"></div>
    <div class="input-star">
        <span class="star">
            <span>★★★★★</span>
            <input  type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
          </span>
    </div>
    <textarea id="input-review" class="input-review" >파티 리뷰 해주세요</textarea>
    <button type="button" onclick="review">리뷰등록</button>
</div>
<script>
$(function() {
  // 별점 표시
  const drawStar = (target) => {
    $('.star span').css({ width: `${target.value * 10}%` });
  }

    // 서버로 데이터 전송
    function review(){
        let reviewadd = $('#input-review').val();
        let star = $('#star').val();

        $.ajax({
      type: 'POST',
      url: '/review/:partyId',
      data: {
        reviewadd,
        star,
        
      },
      success: function(response) {
        // 서버로부터 응답 받은 후 처리할 코드 작성
        alert("리뷰가 등록되었습니다.")
        location.reload();
      },
      error: function(error) {
        // 서버로부터 오류 응답 받은 후 처리할 코드 작성
        alert("올바르지않은 값입니다.")
      }
    });
  };
});

$(document).ready(function() {
  $.ajax({
    url: "/review/:partyId", // 리뷰 데이터 요청 URL
    type: "GET",
    dataType: "json",
    success: function(data) {
      // 리뷰 데이터를 HTML 형식으로 변환하여 출력
      var html = "";
      $.each(data, function(index, review) {
        html += "<div class='review'>";
        html += "<h3>" + review.title + "</h3>";
        html += "<p>" + review.content + "</p>";
        html += "<p>작성자: " + review.user_id + "</p>";
        html += "<p>평점: " + review.rating + "</p>";
        html += "</div>";
      });
      $("#reviews-container").html(html);
    }
  });
});

</script>