<main class="partyPage partyMake partyEdit main container">
    <form action="" class="partyMakeForm">
      <header class="mainHeader">
        <h2 class="title">
          <!-- Backend -->
          <label for="partyTitle" class="a11yHidden">제목 입력</label>
          <input
            type="text"
            placeholder="제목을 입력하세요"
            id="partyTitle"
            class="partyTitle"
          />
        </h2>

        <div class="tagListWrapper">
          <ul class="tagList">
            <li class="tagItem">
              #
              <p class="tag">오영환</p>
              <button
                type="button"
                class="tagResetButton"
                aria-label="해당 태그 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
            <li class="tagItem">
              #
              <p class="tag">이정기</p>
              <button
                type="button"
                class="tagResetButton"
                aria-label="해당 태그 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
            <li class="tagItem">
              #
              <p class="tag">이설인</p>
              <button
                type="button"
                class="tagResetButton"
                aria-label="해당 태그 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
            <li class="tagInputWrapper">
              <label for="partyTag" class="a11yHidden">태그 입력</label>
              <input
                type="text"
                id="partyTag"
                class="partyTag"
                placeholder="Enter키를 이용하여 태그를 입력하세요."
              />
            </li>
          </ul>
        </div>

        <dl class="headcountList">
          <div class="headcountItem">
            <dt>
              <label for="partyCurrMemeber">현재 신청 인원 : </label>
            </dt>
            <dd>
              <input
                type="number"
                id="partyCurrMemeber"
                class="partyCurrMemeber"
                pattern="[0-9]*"
                placeholder="0"
              />
              명
            </dd>
          </div>
          <div class="headcountItem">
            <dt>
              <label for="partyTotalMemeber">총 인원 : </label>
            </dt>
            <dd>
              <input
                type="number"
                id="partyTotalMemeber"
                class="partyTotalMemeber"
                pattern="[0-9]*"
                placeholder="0"
              />
              명
            </dd>
          </div>
        </dl>
      </header>

      <div class="mainSection">
        <section class="partyImageSection">
          <h3 class="title">파티 이미지 등록</h3>

          <ul class="partyImageList">
            <li class="partyImageItem">
              <label for="partyImage1">
                이미지 등록
                <i class="bx bx-plus" aria-hidden="true"></i>
              </label>
              <input
                type="file"
                class="partyImage"
                id="partyImage1"
                accept=".png, .jpg, .jpeg, .svg"
              />
              <div class="uploadImageWrapper"></div>
              <button
                type="button"
                class="partyImageReset"
                aria-label="이미지 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
            <li class="partyImageItem">
              <label for="partyImage2">
                이미지 등록
                <i class="bx bx-plus" aria-hidden="true"></i>
              </label>
              <input
                type="file"
                class="partyImage"
                id="partyImage2"
                accept=".png, .jpg, .jpeg, .svg"
              />
              <div class="uploadImageWrapper"></div>
              <button
                type="button"
                class="partyImageReset"
                aria-label="이미지 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
            <li class="partyImageItem">
              <label for="partyImage3">
                이미지 등록
                <i class="bx bx-plus" aria-hidden="true"></i>
              </label>
              <input
                type="file"
                class="partyImage"
                id="partyImage3"
                accept=".png, .jpg, .jpeg, .svg"
              />
              <div class="uploadImageWrapper"></div>
              <button
                type="button"
                class="partyImageReset"
                aria-label="이미지 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
            <li class="partyImageItem">
              <label for="partyImage4">
                이미지 등록
                <i class="bx bx-plus" aria-hidden="true"></i>
              </label>
              <input
                type="file"
                class="partyImage"
                id="partyImage4"
                accept=".png, .jpg, .jpeg, .svg"
              />
              <div class="uploadImageWrapper"></div>
              <button
                type="button"
                class="partyImageReset"
                aria-label="이미지 삭제"
              >
                <i class="bx bx-x" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </section>

        <div class="partyInfoWrapper">
          <section class="IntroduceSection">
            <h3 class="title">
              <label for="partyIntroduce">파티 소개</label>
            </h3>
            <p>
              <textarea
                id="partyIntroduce"
                class="partyIntroduce"
                placeholder="파티 소개글 입력"
              ></textarea>
            </p>
          </section>

          <section class="calendarSection">
            <h3 class="title">날짜 선택</h3>

            <div class="datePickerWrapper"></div>
          </section>

          <section class="regionSection">
            <h3 class="title">지역</h3>
            <div class="addressSearchWrapper">
              <label for="partyAddressSearch" class="a11yHidden"
                >주소 검색</label
              >
              <input
                type="button"
                id="partyAddressSearch"
                class="partyAddressSearch"
                onclick="findAddr()"
                value="주소 검색"
                readonly
              />
            </div>
            <div class="addressDetailWrapper">
              <label for="partyAddressDetail" class="a11yHidden"
                >상세 주소 입력</label
              >
              <input
                type="text"
                id="partyAddressDetail"
                class="partyAddressDetail"
                placeholder="상세 주소 입력"
              />
            </div>

            <!-- 지도 삽입 -->
          </section>

          <section class="hostSection">
            <h3 class="a11yHidden">호스트 정보</h3>
            <div class="hostInfoWrapper">
              <a href="" class="hostInfoLink">
                <figure class="hostFigure">
                  <div class="hostImageWrapper">
                    <img
                      src="http://placehold.it/320x100?text=sample"
                      alt=""
                    />
                  </div>

                  <figcaption>
                    <h3 class="hostTitle">호스트</h3>
                    <p class="hostName">
                      <!-- Backend -->
                      이정기
                    </p>
                    <p class="a11yHidden">호스트 정보 더보기</p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </section>
        </div>
      </div>

      <button type="submit" class="partyFormSubmit btn_primary btn_point">
        등록하기
      </button>
    </form>
  </main>

<script>
    //폼 스크립트
    

    const partyMakeForm = document.querySelector(".partyMakeForm");

    document.querySelectorAll(".partyImageItem").forEach(($imageItem) => {
    // image 업로드 시
    $imageItem.addEventListener("change", (e) => {
        if (!e.target.matches(".partyImage") || e.target.closest(".uploaded"))
        return;

        const file = e.target.files[0];

        $imageItem.classList.add("uploaded");
        $imageItem.querySelector(
        ".uploadImageWrapper"
        ).innerHTML = `<img src="${URL.createObjectURL(
        file
        )}" class="uploadedImage" alt="">`;
    });

    // 이미지 삭제 버튼 클릭시
    $imageItem.addEventListener("click", (e) => {
        if (!e.target.matches(".partyImageReset")) return;

        $imageItem.classList.remove("uploaded");
        $imageItem.querySelector(".uploadImageWrapper").innerHTML = "";
    });
    });

    document.querySelector(".tagList").addEventListener("click", (e) => {
    // 태그 삭제 버튼 클릭시
    if (e.target.closest(".tagResetButton"))
        e.target.closest(".tagItem").remove();
    });

    partyMakeForm.addEventListener("keydown", (e) => {
    if (e.key !== "Enter") return;
    if (e.keyCode === 229 || e.isComposing) return; // enter keydown 이벤트 감지시 한글 입력 깨지는 문제 해결

    e.preventDefault(); // enter키 눌렸을 때 submit 이벤트 방지

    // tag input에서 enter 입력했을 경우 태그 추가
    if (e.target.matches(".partyTag")) {
        addTag(e.target.value);
        e.target.value = "";
    }
    });

    // 등록하기 버튼 눌렸을 때
    partyMakeForm.addEventListener("submit", (e) => {
    e.preventDefault();
    // image file 배열로 뽑아오기 -> img 태그 통째로 들어갑니다. 소스는 가공해서 사용하세요.
    const imageFiles = [...e.target.querySelectorAll(".uploadedImage")];
    console.log(imageFiles); // 들어오는 값이 확인되면 지워주세요

    // tag 배열로 뽑아오기
    const tagList = [...e.target.querySelectorAll(".tag")].map(
        (tag) => tag.textContent
    );
    console.log(tagList); // 들어오는 값이 확인되면 지워주세요

    // 파티 만들기 ajax
        const partyInfo = {
            title : $('#partyTitle').val(),
            content : $('.input-content').val(),
            maxMember : $('.input-maxMember').val(),
            address: $('#input-address-1').val() + ' ' + $('#input-address-2').val(),
            date : $(''),
            thumbnail : imageFiles,
            tagName : tagList,
        }
        console.log(partyInfo)
        $.ajax({
            type: 'POST',
            url: `api/party`,
            data: JSON.stringify(partyInfo),
            contentType: "application/json",
            headers: {
                authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
            },
            success: function (response) {
                customAlert("파티가 생성되었습니다!", function () {
                        window.location.reload('/party');
                    },
                );
                window.location.replace('/party')
            },
                error: function (error) {
                    console.log(error.responseJSON.message)
                    customAlert(error.responseJSON.message, function () {
                        window.location.reload();
                        },
                    );
                },
        });
    });

    function addTag(value) {
    if (value.trim() === "") return;

    const newTagItem = document.createElement("li");
    newTagItem.classList.add("tagItem");

    newTagItem.innerHTML = `
        #
        <p class="tag">${value}</p>
        <button
            type="button"
            class="tagResetButton"
            aria-label="해당 태그 삭제"
        >
            <i class="bx bx-x" aria-hidden="true"></i>
        </button>
        `;

    document
        .querySelector(".tagInputWrapper")
        .insertAdjacentElement("beforebegin", newTagItem);
    }

    function findAddr() {
    new daum.Postcode({
        oncomplete: function (data) {
        // 사용자 주소를 받아올 변수를 정의한다.
        var addr = "";

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === "R") {
            // 사용자가 도로명 주소를 선택했을 경우(R)
            addr = data.roadAddress;
        } else {
            // 사용자가 지번 주소를 선택했을 경우(J)
            addr = data.jibunAddress;
        }

        // 부모창의 주소칸에 받아온 주소를 넣는다.
        $("#partyMakeAddressSearch").val(addr);
        },
    }).open();
    }
    
</script>