<body>
    <!-- Header-->
    <header class="bg-white py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">파티 이력</h1>
                <p class="lead fw-normal text-black-50 mb-0">
                    파티는 잘 즐기셨나요? 파티에 리뷰를 달아주세요!
                </p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <div class="mainSection">
        <ul class="partyList partyGrid"></ul>
    </div>
</body>
<script>
    $(document).ready(() => {
        $.ajax({
            type: 'GET',
            url: '/history',
            data: {},
            headers: {
                authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
            },
            success: function (response) {
                console.log(response);
                for (let i = 0; i < response.length; i++) {
                    const {
                        partyMember
                    } = response[i];
                    let partyMembers = response[i].partyMember;
                    let status
                    for(let i = 0; i<partyMembers.length;i++){
                        status = partyMembers[i].status; 
                    }
                    console.log(status);

                

                    const partyItem = `
                   
                `;

                    $('.partyList').append(partyItem);
                }
            },
        });
    });

    function deleteParty(partyid) {
        const result = confirm('해당 파티를 삭제하시겠습니까?');
        if (result) {
            $.ajax({
                type: 'DELETE',
                url: `/admin/parties/${partyid}`,
                data: {},
                headers: {
                    authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                    refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
                },
                success: function (response) {
                    alert('파티 삭제 되었습니다.');
                    $(`#id{partyid}`).remove();
                    window.location.reload();
                },
            });
        } else {
            alert('삭제 취소되었습니다.');
        }
    }
</script>
