<main class="partyWishList main container">
    <h2 class="title">위시리스트</h2>

    <div class="mainSection">
        <div class="mapWrapper">
            <div class="mapBox">
                <!-- Backend 지도 넣어주세요 -->
                <div id="map" style="width: 45%; height: 100%"></div>
            </div>
        </div>

        <div class="partyListWrapper">
            <ul class="partyList partyGrid" id="partyItem"></ul>
        </div>
    </div>
</main>

<!-- <button id="like-button${id}" onclick="updateWishList(id, partyId)">좋아요 취소</button>

<button id="like-button${id}" onclick="myWishLists()">파티불러오기</button> -->

<script>
        // function myWishLists() {
            $.ajax({
                type: 'GET',
                url: `/user/wish-list`,
                data: {},
                headers: {
                    authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                    refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
                },
                success: function (response) {
                    let wishList = response['wishList'];
                    sessionStorage.setItem('wishList', JSON.stringify(wishList));

                    for (let i = 0; i < wishList.length; i++) {
                        let partyId = wishList[i]['party']['id'];
                        let title = wishList[i]['party']['title'];
                        let maxMember = wishList[i]['party']['maxMember'];
                        let currMember = wishList[i]['party']['currMember'];
                        let thumbnails = wishList[i]['party']['thumbnail'];
                        let date = wishList[i]['party']['date'];
                        let status = wishList[i]['party']['status'];
                        // console.log(thumbnails);
                        for (let j = 0; j < thumbnails.length; j++) {
                            let thumbnail = thumbnails[j];
                            console.log(thumbnail.partyId);
                          
                          
                        // let thumbnail = thumbnails[i]['thumbnail']
                        // console.log(thumbnail);
                       let addresses = wishList[i]['party']['address']
                      let partyItem = `
                      <li class="partyItem">
                <div class="thumbnailWrapper carousel">
                  <a href="" class="partyLink thumbnailLink">
                    <ul class="thumbnailList carouselList">
                      <li class="thumbnailItem carouselItem">
                        <div class="thumbnailRatio">
                          <a href="http://localhost:4000/party/${thumbnail.partyId}">
                          <img
                            src="${thumbnail.thumbnail}"
                            alt=""
                            class="thumbnailImage"
                          />
                          </a>
                        </div>
                      </li>
                    </ul>
                  </a>

                  <div class="thumbnailButtonWrapper carouselButtonWrapper">
                    <button
                      type="button"
                      class="thumbnailButton carouselButton prev"
                      aria-label="이전 썸네일 보기"
                    >
                      <i class="bx bx-chevron-left" aria-hidden="true"></i>
                    </button>
                    <button
                      type="button"
                      class="thumbnailButton carouselButton next"
                      aria-label="다음 썸네일 보기"
                    >
                      <i class="bx bx-chevron-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>

                <a href="" class="partyLink">
                  <dl class="partyInfoList">
                    <div class="partyInfoItem partyTitle">
                      <dt class="a11yHidden">제목</dt>
                      <dd>
                        <!-- Backend -->
                        ${title}
                      </dd>
                    </div>
                    <div class="partyInfoItem partyHeadcount">
                      <dt>현재</dt>
                      <dd class="currentCount">
                        <!-- Backend -->
                        ${currMember}명
                      </dd>
                      <dt>총</dt>
                      <dd class="totalCount">
                        <!-- Backend -->
                        ${maxMember}명
                      </dd>
                    </div>
                    <div class="partyInfoItem partyEtc">
                      <dt class="a11yHidden">지역</dt>
                      <dd class="partyPlace">
                        <!-- Backend -->
                        서울
                      </dd>
                      <dt class="a11yHidden">날짜</dt>
                      <dd class="partyDate">
                        <!-- Backend -->
                        ${date}
                      </dd>
                    </div>
                  </dl>
                </a>
                <button
                  type="button"
                  class="partyLikeButton"
                  aria-label="좋아요 목록에 추가 버튼"
                >
                  <i class="bx bxs-heart" aria-hidden="true"></i>
                </button>
              </li>
                `

                $(`#partyItem`).append(partyItem)
                    }}
                },
            });


        function updateWishList(id, partyId) {
            $.ajax({
                type: 'POST',
                url: `/user/wish-list/${partyId}`,
                data: {},
                success: function (response) {
                    if (response.updateOrDelete == 0) {
                        $('#like-button${id}').css('color', 'red');
                    } else {
                        $('#like-button${id}').css('color', '');
                    }
                },
                error: function (error) {
                    customAlert(
                        '찜 목록 담기에 실패했습니다. 잠시 후 다시 시도해 주십시오.',
                        function () {
                            window.location.reload();
                        },
                    );
                },
            });
        }

</script>
