<div class="mypage-container">
    <div class="mypage-wrap">
        <!-- 유저 정보 -->
        <div class="info-wrap">
            <div class="container-info">
                <div class="newtainer">
                    <div class="info-header">
                        <h2 class="h2bold">기본정보</h2>
                    </div>
                    <!------------------------ 프로필 사진 ----------------------->
                    <div class="img-cont">
                        <div class="a11yHidden my-info">
                            <h3 class="h3bold">이미지</h3>
                        </div>
                        <div class="img-wrap">
                            <div class="prof-wrap">
                                <div class="prof-image">
                                    <img
                                        class="prof-img"
                                        id="maypage-profile-image"
                                        src=""
                                        accept=".png, .jpg, .jpeg,"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------------------ 프로필 사진 끝----------------------->
                    <div class="my-info">
                        <h3 class="h3bold">계정</h3>
                        <p class="mypage-text" id="email"></p>
                    </div>
                    <div class="underlines" role="presentation">
                        <div class="underline"></div>
                    </div>
                    <div class="my-info">
                        <h3 class="h3bold">이름</h3>
                        <p class="mypage-text" id="name"></p>
                    </div>
                    <div class="underlines" role="presentation">
                        <div class="underline"></div>
                    </div>
                    <div class="my-info">
                        <h3 class="h3bold">성별</h3>
                        <p class="mypage-text" id="sex"></p>
                    </div>
                    <div class="underlines" role="presentation">
                        <div class="underline"></div>
                    </div>
                    <div class="my-info">
                        <h3 class="h3bold">핸드폰 번호</h3>
                        <p class="mypage-text" id="phone"></p>
                    </div>
                    <div class="underlines" role="presentation">
                        <div class="underline"></div>
                    </div>
                    <div class="my-info">
                        <h3 class="h3bold">주소</h3>
                        <p class="mypage-text" id="address"></p>
                    </div>
                    <div class="underlines" role="presentation">
                        <div class="underline"></div>
                    </div>
                    <div class="my-info">
                        <h3 class="h3bold">자기소개</h3>
                        <p class="mypage-text" id="introduction"></p>
                    </div>
                    <!------------------------ 정보 끝----------------------->

                    <div class="mypage-btn">
                        <button
                            class="mypage-edit-btn"
                            type="button"
                            onclick="location.href='user-edit'"
                        >
                            회원 정보 수정하기
                        </button>
                        <button
                            id="password-edit-btn"
                            class="password-edit-btn"
                            type="button"
                            onclick="location.href='reset-password'"
                        >
                            비밀번호 수정하기
                        </button>
                        <button class="mypage-delete-btn" type="button" onclick="deleteUser()">
                            탈퇴하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let user;
        $(document).ready(function () {
            getMyInfo(function (userInfo) {
                if (userInfo) {
                    user = userInfo;
                    $('#email').append(userInfo.email);
                    $('#name').append(userInfo.name);
                    $('#sex').append(userInfo.sex);
                    $('#birthday').append(userInfo.birthday);
                    $('#phone').append(userInfo.phone);
                    $('#address').append(userInfo.address);
                    $('#introduction').append(userInfo.introduction);
                    $('img[id=maypage-profile-image]').attr('src', userInfo.profile);
                } else {
                    customAlert('로그인 후 이용가능합니다.', function () {
                        window.location.replace('/login');
                    });
                }

                if (userInfo.kakao) {
                    let passwordEditButton = document.querySelector('#password-edit-btn');
                    passwordEditButton.style.color = '#ccc';
                    passwordEditButton.style.cursor = 'not-allowed';
                    passwordEditButton.removeAttribute('onclick');
                }
            });
        });

        function deleteUser() {
            let result = confirm('탈퇴하시겠습니까?');
            if (result) {
                $.ajax({
                    type: 'DELETE',
                    url: `/user`,
                    data: {},
                    headers: {
                        authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                        refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
                    },
                    success: function (response) {
                        customAlert('회원 탈퇴되었습니다.', function () {
                            window.location.replace('/');
                            sessionStorage.clear();
                        });
                    },
                    error: function (response) {
                        customAlert(response.responseJSON.message, function () {
                            window.location.reload();
                        });
                    },
                });
            } else {
                alert('탈퇴 취소');
            }
        }
    </script>
</div>
