<h1>마이페이지 유저정보 및 수정 화면</h1>

<label>이메일</label>
<input id="email">
<div id="email1"></div>
</br>

<label>이름</label>
<input id="name">
<div id="name1"></div>
</br>

<label>비밀번호</label>
<input id="password">
<div id="password1"></div>
</br>

<label>비밀번호 확인</label>
<input id="confirmPassword">
<div id="confirmPassword1"></div>
</br>

<label>성별</label>
<input id="sex">
<div id="sex1"></div>
</br>

<label>생일</label>
<input id="birthday">
<div id="birthday1"></div>
</br>

<label>핸드폰번호</label>
<input id="phone">
<div id="phone1"></div>
</br>

<label>지역</label>
<input id="region">
<div id="region1"></div>
</br>

<label>주소</label>
<input id="address">
<div id="address1"></div>
</br>

<label>프로필</label>
<input id="profile">
<div id="profile1"></div>
</br>

<label>자기소개</label>
<input id="introduction">
<div id="introduction1"></div>
</br>

<label>버튼</label>
<button onclick="userEdit()">수정</button>
<button onclick="getUser()">조회</button>
<button onclick="deleteUser()">삭제</button>


<script>

    function getUser() {
        $.ajax({
            type: 'GET',
            url: `/user`,
            success: function (response) {
                Object.entries(response.user).forEach(([key, value]) => {
                    $(`#${key}1`).append(value);
                })
            }
        });
    }

    function userEdit() {
        const userData = {
            name: $('#name').val(),
            password: $('#password').val(),
            confirmPassword: $('#confirmPassword').val(),
            sex: $('#sex').val(),
            birthday: $('#birthday').val(),
            phone: $('#phone').val(),
            region: region = $('#region').val(),
            address: $('#address').val(),
            profile: $('#profile').val(),
            introduction: $('#introduction').val()
        };
        $.ajax({
            type: 'PATCH',
            url: `/user`,
            data: userData,
            success: function (response) {
                alert('정보 수정 완료')
                window.location.href = "/user-edit"
            },
            error: function (error) {
                customAlert(error.responseJSON.errorMessage);
            },
        });
    }

    function deleteUser() {
        let result = confirm('탈퇴하시겠습니까?');
        if (result) {
            $.ajax({
                type: 'DELETE',
                url: `/user`,
                success: function (response) {
                    alert('회원 탈퇴');
                    window.location.href = "/"
                }
            })
        } else {
            alert('탈퇴 취소')
        }
    }

</script>