<h1>마이페이지 유저정보 및 수정 화면</h1>
    <div id="user"></div>

<script>
    $.ajax({
        type: 'GET',
        url: `/user`,
        data: {},
        headers: {
            authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
            refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
        },
        success: function (response) {
            const userInfo = response.user
            const html = `<div>
                            <label>이메일</label><input type="email" value="${userInfo.email}"></br></br>
                            <label>이름</label><input id="name" type="text" value="${userInfo.name}"></br></br>
                            <label>비밀번호</label><input id="password" type="password" value="${userInfo.password}"></br></br>
                            <label>비밀번호 확인</label><input id="confirmPassword" type="password" value="${userInfo.password}"></br></br>
                            <label>성별</label><input id="sex" type="text"value="${userInfo.sex}"></br></br>
                            <label>생일</label><input id="birthday" type="text" value="${userInfo.birthday}"></br></br>
                            <label>핸드폰번호</label><input id="phone" type="text" value="${userInfo.phone}"></br></br>
                            <label>주소</label><input id="address" type="text" value="${userInfo.address}"></br></br>
                            <label>프로필</label><input id="profile" type="text" value="${userInfo.profile}"></br></br>
                            <label>자기소개</label><input id="introduction" type="text" value="${userInfo.introduction}"></br></br>
                            <button onclick="userEdit()">수정</button>
                            <button onclick="deleteUser()">삭제</button>
                        </div>`
            $('#user').append(html)
        }
    });

    function userEdit() {
        const userData = {
            name: $('#name').val(),
            password: $('#password').val(),
            confirmPassword: $('#confirmPassword').val(),
            sex: $('#sex').val(),
            birthday: $('#birthday').val(),
            phone: $('#phone').val(),
            address: $('#address').val(),
            profile: $('#profile').val(),
            introduction: $('#introduction').val()
        };
        $.ajax({
            type: 'PATCH',
            url: `/user`,
            data: userData,
            headers: {
                authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
            },
            success: function (response) {
                alert('정보 수정 완료')
                window.location.reload()
            },
            error: function (error) {
                customAlert(error.responseJSON.errorMessage);
            },
        });
    }

    function deleteUser() {
        let result = confirm('탈퇴하시겠습니까?');
        if (result) {
            $.ajax({
                type: 'DELETE',
                url: `/user`,
                data: {},
                headers: {
                    authorization: `Bearer ${sessionStorage.getItem('accessToken')}`,
                    refreshtoken: `${sessionStorage.getItem('refreshToken')}`,
                },
                success: function (response) {
                    console.log(response)
                    alert('회원 탈퇴');
                    window.location.reload()
                }
            })
        } else {
            alert('탈퇴 취소')
        }
    }
</script>