/* root */
:root {
    /* container */
    --max-container: 1320px;

    /* z-index */
    --partySearchLikeButtonIndex: 9;
    --carouselIndex: 9;

    /* color */
    --blackColor: #222;
    --primaryColor: #666;
    --pointColor: red;
}

/* common */
a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.a11yHidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

.container {
    max-width: var(--max-container);
    width: 90%;
    margin: 0 auto;
}

.mainSection {
    margin-top: 60px;
}
