*,
*::after,
*::before {
  box-sizing: border-box;
}
/* root */
:root {
  /* container */
  --max-container: 1320px;

  /* z-index */
  --partySearchLikeButtonIndex: 9;
  --carouselIndex: 9;

  /* color */
  --whiteColor: #fff;
  --borderColor: #ddd;
  --primaryColor: #666;
  --blackColor: #222;

  --pointColor: #d8273a;
  --warningColor: #FFB900;
  --lightBeigeColor: #fbe8cc;
  --darkBeigeColor: #9c8b70;
  --lightNavyColor: #697390;
  --darkNavyColor: #1b2030;
}

body,
html {
  font-family: "Open Sans", "NanumSquare", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.mainlogo {
  width: 120px;
}
.mainSection {
  margin-top: 60px;
}

button {
  cursor: pointer;
}

button > i,
button > i::before {
  pointer-events: none;
}

.btn_primary {
  display: block;
  width: 100%;
  height: 51px;
  margin: 0 auto;
  border: 1px solid #dadada;
}

.btn_point {
  background-color: var(--pointColor);
  color: white;
  border: 0;
}

#mail-select {
  width: 50%;
  font-size: 13px;
  border: 1px solid lightgray;
  height: 51px;
}

.wrapper {
  width: 100%;
}

.title {
  font-weight: 700;
}

.tns-liveregion {
  display: none;
}

.note-info {
  margin: 3px;
  font-size: 14px;
}

.d_form.mini {
  width: 7em;
}

.d_form {
  margin: 0.2em 0;
  font-size: 15px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-color: #dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;
  vertical-align: middle;
  line-height: 1.25em;
  outline: 0;
  width: 20em;
  height: 50px;
  background-color: #e6e8e8;
  box-sizing: border-box;
}

.fa-heart {
  border: none;
}

.pagination-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 4rem;
}

.user-menu-title {
  margin-bottom: 20px
}

.user-menu-title a {
  font-size: 20px; 
  text-align:left; 
  font-weight:bold;
}

.user-menu-title hr {
  margin-top: 4px; 
  border-top: 1px solid black; 
  width: 100%; 
  height: 1px; 
  background-color: transparent; 
  text-align: left;
}