@charset "UTF-8";
@keyframes headerMove{
      0% {transform: translate(0px); }
      50% {transform: translate(400px); }
      100% {transform: translate(0,0);}
}

#container-login, #footer, #header-login {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 600px;
}

.box input {
	height: 100%;
	padding: 4px 12px;
	cursor: pointer;
}

#idError, #pw-error, #pw-check-error, #email-error {
   width:0px auto;
   display : inline-block;
   color : red;
   text-align : right;
   font-size : 11px;
   font-weight: normal;
   margin-left : 10px;
}
#container-login{
   margin: 0 auto;
}

#header-login {
   position: relative;
   overflow: hidden;
   padding: 60px 0 54px;
}

#header-login .h_logo {
   display: block;
   margin: 0 auto;
   width: 100%;
   height: 44px;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: 240px auto;
   color: transparent;
   font-size: 2em;
}
.row-group-login {
   overflow: hidden;
   width: 60%;
   margin: 0 auto;
   border-bottom: 1px solid gainsboro;
}
.box{
   margin : 0px auto;
   height: 51px;
   border: solid 1px #dadada;
   background-color: white;
}
#emailBox{
   display: flex;
   gap: 4px;
   border: 0;
   background-color: transparent;
}
.list {
   margin : 0px auto;
   font-size: 14px;
   font-weight: 700;
}
.list h3 {
   display : inline-block;
}
.user-input{
   margin : 3%;
}

.input {
   display: inline;
}
.int {
   display: block;
   position: relative;
   width: 100%;
   height: 29px;
   border: solid 1px #dadada;
   padding-right: 25px;
   line-height: 29px;
   border: none;
   background: #fff;
   font-size: 15px;
   box-sizing: border-box;
   z-index: 10;
}
#email-int{
   display: flex;
   width: 50%;
   border: solid 1px #dadada;
   line-height: 29px;
   border: none;
   background: #fff;
   font-size: 15px;
   box-sizing: border-box;
}
.email-input {
	height: 51px;
	box-sizing: border-box;
	border: solid 1px #dadada;
}

#btn {
   width: 100%;
   height: 50px;
}
.btn_area {
   margin: 30px 3% 60px;
}

input::placeholder {
   font-size: 13px;
}
/*찾기 및 회원가입*/
.find-signup-wrap{
    padding-top: 20px;
    text-align : center;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}
/*찾기 및 회원가입 글자 희미하게 바꾸기*/
.find-signup-wrap a{
    color: rgb(150, 150, 150);
}
/*아이디 찾기*/
.find-id{
    margin: 3px;
    font-size: 14px;
    border-right: 1px solid gainsboro;
}
/*비밀번호 찾기*/
.find-pw{
    margin: 3px;
    font-size: 14px;
    border-right: 1px solid gainsboro;
}
/*회원가입*/
.sign-up{
    margin: 3px;
    font-size: 14px;
}
/*카카오 로그인 버튼*/
.login-box button img {
    width: 18px;
    margin-right: 10px;
}

.login-box button {
    width: 58%;
    height: 51px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #FEE500;
    cursor: pointer;
    color: #000000 85%;
    background-color: #FEE500;
}

#input-email {
   width: 50%;
}