.partyPage .mainHeader .title {
    font-size: 32px;
  }
  
  .partyPage .tagList {
    display: flex;
    gap: 4px;
    margin-top: 8px;
    font-size: 14px;
  }
  
  .partyPage .column2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  
  .partyPage .headcountList {
    display: flex;
  }
  
  .partyPage .headcountItem {
    flex-shrink: 0;
    display: flex;
    gap: 4px;
  }
  
  .partyPage .headcountItem:nth-child(n + 2)::before {
    content: "/";
    margin-left: 4px;
  }
  
  .partyPage .headcountItem dt,
  .partyPage .headcountItem dd {
    flex-shrink: 0;
    gap: 4px;
  }
  
  .partyPage .headcountItem dd {
    font-weight: 700;
  }
  
  .partyPage .partyLikeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
    border: 0;
    background-color: transparent;
  }
  
  .partyPage .mainSection {
    margin-top: 32px;
  }
  
  .partyPage .partyImageSection {
    position: relative;
    overflow: hidden;
  }
  
  .partyPage .partyImageList {
    display: flex;
    height: 300px;
  }
  
  .partyPage .partyImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .partyPage .tns-nav {
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: var(--carouselIndex);
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translateX(-50%);
  }
  
  .partyPage .tns-nav button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: var(--whiteColor);
    border: 1px solid var(--blackColor);
    border-radius: 50%;
  }
  
  .partyPage .tns-nav button.tns-nav-active {
    width: 12px;
    height: 12px;
    background-color: var(--blackColor);
  }
  
  .partyPage .partyImageButton {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    background-color: var(--whiteColor);
    border: 0;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .partyPage .partyImageButton.prev {
    left: 24px;
  }
  
  .partyPage .partyImageButton.next {
    right: 24px;
  }
  
  .partyPage .partyInfoWrapper {
    display: grid;
    grid-template-areas:
      "introduce calendar"
      "region calendar"
      "host calendar";
    grid-template-columns: 1fr 300px;
    gap: 32px;
    margin-top: 32px;
  }
  
  .partyPage .IntroduceSection {
    grid-area: introduce;
  }
  
  .partyPage .calendarSection {
    grid-area: calendar;
  }
  
  .partyPage .calendar time {
    pointer-events: none;
  }
  
  .partyPage .calendarButtonWrapper {
    margin-top: 16px;
  }
  
  .partyPage .calendarButtonWrapper button:nth-child(n + 2) {
    margin-top: 8px;
  }
  
  .partyPage .regionSection {
    grid-area: region;
    padding-top: 24px;
    border-top: 1px solid var(--borderColor);
  }
  
  .partyPage .regionSection p {
    margin-top: 8px;
  }
  
  .partyPage .hostSection {
    grid-area: host;
    padding-top: 24px;
    border-top: 1px solid var(--borderColor);
  }
  
  .partyPage .hostSection .hostInfoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .partyPage .hostFigure {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .partyPage .hostImageWrapper {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .partyPage .hostImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .partyPage .hostTitle {
    font-weight: 700;
  }
  
  .partyPage .hostName {
    margin-top: 6px;
  }
  
  .partyPage .hostContactLink {
    padding: 12px 24px;
    font-size: 14px;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
  }
  
  @media screen and (max-width: 768px) {
    .partyPage .partyInfoWrapper {
      grid-template-areas:
        "introduce"
        "calendar"
        "region"
        "host";
      grid-template-columns: 1fr;
    }
  
    .partyPage .calendarSection {
      width: 100%;
      padding-top: 32px;
      border-top: 1px solid var(--borderColor);
    }
  }