@charset "UTF-8";
@keyframes headerMove{
      0% {transform: translate(0px); }
      50% {transform: translate(400px); }
      100% {transform: translate(0,0);}
}

.mypage-container {
   margin-top: 10%;
   display: flex;
   flex-direction: column;
}

.image-wrap {
   display: flex;
   justify-content: center;
}

.email {
   display: flex;
   justify-content: center;
}

img {
   width: 200px;
   height: 200px;
   border-radius: 100%;
   object-fit: fill;
}

.email {
   margin-top: 3%;
}

#email {
   font-weight: 900;
}

.button {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

button {
   margin: 2.5%
}


.user-info {
   margin-top: 5%;
}

.user {
   margin-bottom: 5%;
}

/*태블릿*/
@media all and (min-width:576px){
   .mypage-container {
      margin-top: 30%;
      display: flex;
      flex-direction: column;
   }
   img {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      object-fit: fill;
   }
}

/*데스크톱*/
@media all and (min-width:1200px){
   .mypage-container {
      margin-top: 50%;
      display: flex;
      flex-direction: column;
   }
   img {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      object-fit: fill;
   }
} 